body{
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(39, 39, 39);
  overflow-x: hidden;
  height: 700px;
}

@media (max-width:1000px){
  body{
    margin-left: 100px;
    margin-right: 100px;
    height: 800px;
  }
}

@media(max-width:600px){
  body{
    margin-left: 0px;
    margin-right: 0px;
    width: 800px;
   height: 1000px;
   zoom: 90%;

  }
}

/*
.error{
  position: relative;
  top: 560px;
  display: flex;
  justify-content: center;
}
*/

.App{
  background-color: rgba(241, 241, 241, 0.795);
  width: auto;
  height: 1200px;
  margin-top: 30px;
  position: relative;
  border: solid 3px black;
  background-image: url(./immagini/plane2.jpg);
  background-size: cover;
}

@media(max-width:1000px){
  .App{
    height: 1900px;
    
  }
}

@media(max-width:600px){
  .App{
    zoom: 115%;
  }
}


.header{
  border: solid 3px black;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  height: 45px;
  transition: 1s;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -20px;
}


.title{
 width: 200px;
 background-color: rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 border: solid 1px black;
 cursor: default;
 font-family: 'Kanit', sans-serif;
 font-size: 30px;
}

.title2{
  font-family: 'Kanit', sans-serif;
 font-size: 30px;
 position: absolute;
 left: 180px;
 animation: a 0.5s infinite alternate-reverse;
}

@keyframes a {
  from {opacity: 0;}
  to {opacity: 1;}
}



.ben{
  background-color: white;
  border:solid 3px black;
  width:600px;
 text-align: justify;
 padding: 8px;
 position: relative;
 top: 80px;
 cursor: default;
 font-family: 'Kanit', sans-serif;
}


.benbox{
  display: flex;
  justify-content: center;
}


.slide{
  display: flex;
  justify-content: center;
  width: auto;
  zoom: 80%;
}

.slidebox2{
  width: auto;
  height: 680px;
  background-color: transparent;
  position: absolute;
  top: 1000px;
  display: flex;
  flex-direction: row;
}
@media(max-width:1000px){
  .slidebox2{top: 1600px;
    flex-direction: column;
}

}

.slidebox{
  width: auto;
  height: 1280px;
  background-color: transparent;
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: row;
  /*
  overflow-x:hidden;
  overflow-y: scroll;
  display: inline-block;
  align-items: center;
  border: solid 3px black;*/
}

@media(max-width:1000px){
  .slidebox{
  flex-direction: column;
}
}


.slidebox::-webkit-scrollbar{
  background-color: white;
  width: 10px;
}

.slidebox::-webkit-scrollbar-thumb{
  background-color: black;
  border: solid 1px white;
}

.box2{
  background-color: rgb(255, 255, 255);
  width: 663px;
  height: 300px;
  position: relative;
  margin: 30px;
  border: solid 3px black;
  transition: 0.7s;
}


.box{
  background-color: rgb(255, 255, 255);
  width: 663px;
  height: 300px;
  position: relative;
  margin: 30px;
  border: solid 3px black;
  transition: 0.7s;
}

.box2:hover{
  box-shadow: rgb(255, 174, 0) 0px 0px 12px 4px;
 }

.box:hover{
 box-shadow: rgb(255, 174, 0) 0px 0px 12px 4px;
}

.pic{
  background-color: rgb(0, 0, 0);
  width: 300px;
  height: 300px;
  border: solid 15px rgb(255, 174, 0);
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}


.textbox{
  background-color: white;
  width: 300px;
  height: auto;
  position: absolute;
  left: 339px;
  top: 20px;
}



.img{
  width: 60%;
  filter: invert(100);
}

.text{
  font-family: 'Kanit', sans-serif;
  text-align: justify;
  padding: 4px;
  font-weight: bold;
}
@media(max-width:600px){
  .text{
    padding: 2px;
    position: absolute;
    top: -15px;
  }
}

.link{
position: absolute;
left: 360px;
top: 245px;
text-decoration: none;
color: white;
background-color: black;
border: solid 3px white;
padding: 5px;
padding-left: 80px;
padding-right: 80px;
font-weight: bold;
}

.link2{
  position: absolute;
  left: 375px;
  top: 245px;
  text-decoration: none;
color: white;
background-color: black;
border: solid 3px white;
padding: 5px;
padding-left: 60px;
padding-right: 60px;
font-weight: bold;
  }


  @media(max-width:600px){
    .link2{
      top: 260px;
    }
  }

  .link3{
    position: absolute;
    left: 400px;
    top: 245px;
    text-decoration: none;
color: white;
background-color: black;
border: solid 3px white;
padding: 5px;
padding-left: 80px;
padding-right: 80px;
font-weight: bold;
    }

    .link4{
      position: absolute;
      left: 400px;
      top: 245px;
      text-decoration: none;
color: white;
background-color: black;
border: solid 3px white;
padding: 5px;
padding-left: 80px;
padding-right: 80px;
font-weight: bold;
      }


.link:hover{
  background-color: rgb(255, 174, 0);
  color: black;
  border: solid 3px rgb(0, 0, 0);
  font-weight: bold;
}
.link2:hover{
  background-color:  rgb(255, 174, 0);
  color: black;
  border: solid 3px rgb(0, 0, 0);
  font-weight: bold;
}
.link3:hover{
  background-color:  rgb(255, 174, 0);
  color: black;
  border: solid 3px rgb(0, 0, 0);
  font-weight: bold;
}
.link4:hover{
  background-color:  rgb(255, 174, 0);
  color: black;
  border: solid 3px rgb(0, 0, 0);
  font-weight: bold;
}


.closebox{
  display: black;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 0px;
  gap: 20px;
  width: auto;
}


.two{
width: 100%;
filter:contrast(100);

}


.input{
  position: relative;
  right: 42%;
  width: 300px;
  border: none;
  color: white;
  outline: none;
  padding: 7px;
  font-family: 'Kanit', sans-serif;
  background-color: rgb(51, 51, 51);
  border: white 1px solid;
}

@media(max-width:1000px){
  .input{
    width: 200px;
    left: -250px;
  }
}


@media(max-width:600px){
  .input{
    width: 200px;
    left: -150px;
  }
}
